:root{
    --primary-soft: hsl(30, 38%, 92%);
    --primary-medium: hsl(158, 36%, 37%);
    --neutral-dark: hsl(212, 21%, 14%);
    --neutral-medium: hsl(228, 12%, 48%);
    --neutral-soft: hsl(0, 0%, 100%)
}